<%= provide(:title, "About") %>

<div class="full-width-container">
  <div class="container">

    <div class="content">
      <div class="three-space post-title">
        About halowake.com
      </div>

      <div class="mini-title">
        What's the deal with this dumb site?
      </div>

      <div class="three-space">
        Once upon a time, I got bored while at my real job, so I blew it off and created this site for shits and giggles (or "fun" as the locals say.)
      </div>

      <div class="three-space">
        Now, instead of working, you're looking at this site, and you're laughing, and you're enjoying your coffee. Sometimes it squirts out of your nose because you're laughing so hard.
      </div>

      <div class="three-space">
        Go back to looking at the garbage on this site and stop reading this page. Actually, go outside and do something else.
      </div>
    </div>

  </div>
</div>