<%= provide(:title, "About") %>

<div class="full-width-container">
  <div class="container">

    <div class="content">
      <div class="three-space post-title">
        About halowake.com
      </div>

      <div class="mini-title">
        What's the deal with this dumb site?
      </div>

      <div class="one-space">
        Once upon a time, I got bored while at my real job, so I blew it off and created this site for shits and giggles (or "fun" as the locals say.)
      </div>
    </div>

  </div>
</div>