<%= provide(:title, "Privacy Policy") %>

<div class="full-width-container">
  <div class="container">

    <div class="content">
      <div class="three-space post-title">
        Privacy policy for halowake.com
      </div>

      <div class="three-space">
        <i>December 2nd, 2017</i>
      </div>

      <div class="three-space">
        I, Alex Heil, at halowake.com (possibly and probably later referred to as “Site”, “Website”, “I”, “Company”, etc, etc...) believe in privacy for everyone who enjoys this site. And if you don't enjoy it, well, you can go hop off of a cliff. Just kidding, you know, with gravity and all.
      </div>

      <div class="three-space">
        The following words, sentences, and paragraphs show just what halowake.com does in regards to information gathering and dissemination practices. By accessing the halowake.com website and domain name, mobile applications, and any other linked pages, features, content, or application services offered from time to time you acknowledge that you accept the practices and policies outlined in this Privacy Policy.
      </div>

      <div class="three-space">
        Here we go!
      </div>

      <div class="mini-title">
        halowake.com might collect your personal information
      </div>

      <div class="three-space">
        As of right now, you cannot create your own user account on halowake.com. But, that doesn't mean you won't be able to in the future! So, let's get this out of the way now.
      </div>

      <div class="three-space">
        Gathering your personal information such as your email, username, password, IP address, browser information, and any other information you provide associated with creating a user account. If that makes you uncomfortable in any way, please do not provide said information on this Site. However, should you choose to go down that path you may not have access to some of the features on halowake.com. halowake.com uses this information to allow you to fully use the features on this site such as creating content, interacting with other users, etc…
      </div>

      <div class="three-space">
        None of the information you provide on this Site will get traded, bartered, rented, or sold to any third parties like some kind of rare Pokémon card.
      </div>

      <div class="three-space">
        Third parties that have access to this Site, such as analytics providers (Google analytics, gotta see those stats, baby), collect and store information automatically whenever you visit one of the pages on this Site, or use any of the services this Site provides. halowake.com automatically sees, collects, and records information on our server logs such as IP address, cookie information, and the page you have requested.
      </div>

      <div class="three-space">
        Speaking of third parties, we use third party advertising (Google AdSense), and they may be scooping some information about you (not your name, address, email address, or telephone number) when you visit our pages in order to better provide you with advertisements on this Site or other sites about goods and services that may be of interest to you instead of showing you stuff you hate like slow cars and Barbie Dolls, blah, blah, blah.
      </div>

      <div class="three-space">
        halowake.com will never ask for your credit card information, bank account information, or any private financial information in general, so please never input any of that top secret stuff into any forms on this Site.
      </div>

      <div class="mini-title">
        halowake.com uses cookies to store information
      </div>

      <div class="three-space">
        Third party advertisers (Google AdSense) will place or recognize a cookie on your browser.
      </div>

      <div class="three-space">
       halowake.com will place or recognize a cookie on your browser so that this Site can recognize your browser. The cookies halowake.com uses do not collect your information. In reality, the only time healowake.com uses cookies is when you check the “Remember Me” box when signing into the Site when you can. You can choose to turn cookies off in your browser settings, but I recommend keeping them on if you don’t want to keep logging back into the site every 10 seconds.
      </div>

      <div class="mini-title">
        halowake.com might link to external sites
      </div>

      <div class="three-space">
        With using Google AdSense as one of the advertisers on the Site, there are many different external links that they may be linking to. halowake.com is not responsible for the privacy on any site Google AdSense links to.
      </div>

      <div class="three-space">
        halowake.com links to Amazon.com in order for it’s users to be able to find the tracks they see on this Site. halowake.com is not responsible for anything privacy related on Amazon.com or anything they link to, but they are Amazon, so I’m sure they have you covered.
      </div>

      <div class="mini-title">
        Please read these next few paragraphs if you are a child or if you are not visiting from the United States of America.
      </div>

      <div class="three-space">
        halowake.com does not knowingly collect, use, maintain, gather, preserve, assemble, or retain any personal information from anyone under the age of 13. No part of this Site is for anyone under the age of 13. It’s like when Virgil and Dante enter the gates of Hell. Lasciate ogne speranza, voi ch'intrate.
      </div>

      <div class="three-space">
        If you are visiting this Site from a country other than the United States of America with different data collection and privacy laws than the data collection and privacy laws of the United States of America, please be aware that you are transferring your data to the United States of America. By providing your information you consent to any transfer and processing in accordance with this Privacy Policy.
      </div>

      <div class="mini-title">
        When this Site’s Privacy Policy changes…
      </div>

      <div class="three-space">
        …the date at the top of this page will change. Please check back regularly in order to be in tip-top-halowake.com-Privacy-Policy shape. Anyone who used this Site prior to the date at the top of this page is subject to the laws and guidelines at the time the information was collected.
      </div>

      <div class="three-space">
        Your continued use of this Site means that you agree and fully understand what’s going on in the revised, updated version of the Privacy Policy.
      </div>

      <div class="three-space">
        halowake.com reserves the right to change this Privacy Policy at any time. At any minute, any day, any second, any hour this policy can be changed by halowake.com.
      </div>

    </div>

  </div>
</div>