<div class="full-width-container">
  <div class="container">

    <div class="content">
      <div class="three-space post-title">
        Terms of Use for halowake.com
      </div>

      <div class="mini-title">
        Mini titles go here
      </div>

      <div class="one-space">
        Paragraphs go here
      </div>
    </div>

  </div>
</div>