<%= provide(:title, "Terms of Use") %>

<div class="full-width-container">
  <div class="container">

    <div class="content">
      <div class="three-space post-title">
        Terms of Use for halowake.com
      </div>

      <div class="three-space">
        This will be nice and quick.
      </div>

      <div class="mini-title">
        At the moment...
      </div>

      <div class="three-space">
        There are no services on this site, therefore there is nothing to purchase, meaning no payments will be taken, thus no refunds are available.
      </div>

      <div class="three-space">
        Please read the <%= link_to "privacy policy", privacy_path %>.
      </div>

      <div class="three-space">
        I will and can change this Terms of Service whenever I want to.
      </div>

      <div class="three-space">
        If you need to contact me in any way, tweet me <a href="https://www.twitter.com/RealAlexHeil">@RealAlexHeil</a> or <a href="https://www.twitter.com/halowake">@halowake</a>. We will discuss from there.
      </div>

      <div class="three-space">
        This site links to external sites and I am not responsible for what you do on those sites. Oh, and it’s possible it may be an affiliate link. If that’s the case I may make money through affiliate sales.
      </div>

      <div class="three-space">
        Okay, that's about all for now.
      </div>
    </div>

  </div>
</div>