<div class="padding-horizontal">
  <div class="ad-trash">
    <div class="ad-title">
      advertisement
    </div>
    <div class="ad-itself">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Halowake Post Ad -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-7899643142531807"
           data-ad-slot="9915919718"
           data-ad-format="link"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
</div>