<header class="full-width-container">
  <div class="header-container">
    <nav class="nav">
      <div class="site-title">
        <a href="http://halowake.herokuapp.com"><span class="bold">halo</span>wake</a>
      </div>
      <ul>
        <% if admin_signed_in? %>
          <li><%= link_to "Create Category", new_category_path, class: "nav-links" %></li>
          <li><%= link_to "Sign Out", sign_out_path, class: "nav-links" %></li>
        <% end %>
        <li><%= link_to "Categories", categories_path, class: "nav-links" %></li>
        <li><%= link_to "Popular", categories_path, class: "nav-links" %></li>
      </ul>
    </nav>
  </div>
</header>