/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$main-color: #E9289C;
$accent-color1: #F37EC5;
$accent-color2: #BE5B00;
$accent-color3: #FFC695;
$black: #212121;
$white: #f4f4f4;
$fancy-font: 'Open Sans', Helvetica, Arial, sans-serif;


body {
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 1.75em;
  font-family: $fancy-font;
  font-weight: 300;
  background: $white;
}

img {
  vertical-align:bottom;
}

ul {
  list-style: none;
}

a {
  color: $main-color;
  text-decoration: none;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    color: $accent-color1;
  }
}

.second-link {
  color: $white;
  text-decoration: none;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    color: $black;
  }
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 1.75em;
  font-weight: 300;
}

h3 {
  padding: 0;
  margin: 0;
  font-size: 1.2em;
}

h4 {
  padding: 0;
  margin: 0;
  font-size: 3em;
  font-weight: 300;
  line-height: 3rem;
}

::selection {
  color: #fff;
  background: $main-color;
}

::-moz-selection {
  color: #fff;
  background: $main-color;
}

header {
  background: #fff;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.full-width-container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.home-content {
  margin: 1vh 0;
  width: 77%;
  margin-left: 2%;
  display: inline-block;
  vertical-align: top;
}

.home-sidebar {
  margin: 1vh 0;
  width: 20%;
  display: inline-block;
  vertical-align: top;
}

.content {
  margin: 1vh auto;
  width: 70%;
  vertical-align: top;
}

.three-column {
  margin: 2vh 1.25%;
  width: 30%;
  display: inline-block;
  vertical-align: top;
}

.category-title {
  font-size: .75em;
  margin: 3vh 0 0 0;
}

.group-title {
  font-size: 1.25em;
  margin: 0 0 3vh 0;
}

.post-title {
  font-size: 2em;
  line-height: 1.15em;
}

.small-text {
  font-size: .75em;
}

.medium-text {
  font-size: 1.75em;
}

.large-text {
  font-size: 3em;
}

.one-space {
  margin: 1vh 0;
}

.two-space {
  margin: 2vh;
}

.three-space {
  margin: 3vh 0;
}

.five-space {
  margin: 5vh 0;
}

.ten-space-top {
  margin-top: 10vh;
}

.center {
  text-align: center;
}

.best {
  word-break: break-word;
  white-space: pre-line;
  padding-bottom: 3vh;
  h3 {
    margin: 1vh 0 -20px 0;
  }
}

.front-container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 8px;
  font-size: .75em;
}

.black-front {
  background: #000;
  height: 49.95vh;
  filter: alpha(opacity=70);
  -moz-opacity: 0.70;
  -khtml-opacity: 0.70;
  opacity: 0.70;
  z-index: 3;
}

.black-background {
  background: $black;
  height: 50vh;
  object-fit: cover;
}

.one-column {
  margin: 0;
  width: 35%;
  display: inline-block;
  vertical-align: top;
}

.second-column {
  margin: 0;
  width: 64%;
  height: 30vh;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.group-container {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.group-list-title {
  font-size: 1.5em;
}

.tagline-text {
  padding: 1vh 2vh;
  color: #aaa;
  line-height: 1.5em;
}

.category-list-text {
  color: #aaa;
  font-size: .75em;
}

.thumbnail-image {
  height: 30vh;
  border-radius: 4px 0 0 4px;
  object-fit: cover;
}

.image-border {
  border-radius: 4px 4px 0 0;
}

.padding-horizontal {
  padding-left: 2vh;
  padding-right: 2vh;
}

.padding-vertical {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* ******************* AD TRASH *************** */

.ad-trash {
  width: 100%;
  border-top: 1px solid #ddd;
  border-bottom: 1PX solid #ddd;
}

.ad-title {
  font-size: .5em;
  letter-spacing: 5px;
}

/* ************** NAV **************** */

.previous-next {
  width: 49.5%;
  display: inline-block;
  padding: 10px 1vw;
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  border: 3px solid $main-color;
  border-radius: 4px;
  background-color: transparent;
  color: $main-color;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    background-color: $main-color;
    color: #fff;
  }
}

.first-post {
  width: 100%;
  display: inline-block;
  padding: 10px 1vw;
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  border: 3px solid $main-color;
  border-radius: 4px;
  background-color: transparent;
  color: $main-color;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    background-color: $main-color;
    color: #fff;
  }
}

.side-nav {
  width: 80%;
  margin: 5vh 0;
  padding: 2vh;
  background: #fff;
  display: inline-block;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  ul {
    padding: 0;
    margin: 0;
    li {
      display: block;
      padding: 2vh 0;
      position: relative;
    }
  }
}

.side-nav-links {
  color: $main-color;
  &:hover {
    color: $accent-color1;
  }
}

.header-container {
  width: 95%;
  margin: 0 auto;
  padding: 3vh 0;
  border-bottom: 1px solid #ddd;
}

.site-title {
  display: inline-block;
  color: $main-color;
  padding: 2vh 0 1vh 0;
  font-weight: 300;
  font-size: 2em;
  &:hover {
    text-decoration: none;
    color: $accent-color1;
  }
}

.nav {
  width: 100%;
  display: inline-block;
  ul {
    padding: 0;
    margin: 0;
    float: right;
    li {
      display: inline-block;
      padding: 2vh 0 1vh 0;
      position: relative;
      margin-left: 5vw;
    }
  }
}

.nav-links {
  color: $main-color;
  &:hover {
    color: $accent-color1;
  }
}

.full-footer-container {
  width: 100%;
  clear: both;
  margin-top: 5vh;
  padding: 2vh 0;
}

.footer {
  width: 100%;
  display: inline-block;
  span {
    float: left;
  }
  ul {
    margin: 0;
    padding: 0;
    float: right;
    li {
      position: relative;
      display: inline-block;
      margin: 0 1vw;
      &:first-child {
        margin: 0 1vw 0 0;
      }
    }
  }
}

.footer-disclaimer {
  font-size: .75em;
  text-align: center;
}

/* *********** FORMS ******* */

.form-container {
  width: 50%;
  margin: 0 auto;
}

.form-container-large {
  width: 100%;
}

.text-field {
  width: 100%;
  font-size: 1.25em;
  font-weight: 100;
  padding: 1vh 1vw;
  background: $white;
  border-bottom: 1px solid $black;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  display: inline-block;
  box-sizing: border-box;
  &:focus {
    border: 1px solid $black;
  }
}

.text-area {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 30vh;
  font-size: 1.25em;
  font-weight: 100;
  padding: 16px;
  background: $white;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid $black;
  display: inline-block;
  box-sizing: border-box;
  &:focus {
    border: 1px solid $black;
  }
}

.field {
  margin: 2vh 0;
}


@media screen and (max-width: 800px) {

  .home-content {
    width: 100%;
    margin-left: 0;
  }

  .home-sidebar {
    width: 100%;
  }

  .site-title {
    text-align: center;
  }

  .nav {
    text-align: center;
    ul {
      float: none;
      text-align: center;
    }
  }

  .footer {
    text-align: center;
    span {
      float: none;
      text-align: center;
    }
    ul {
      float: none;
      text-align: center;
    }
  }

  .previous-next {
    width: 100%;
    margin: .5vh 0;
  }

  .side-nav {
    width: 100%;
    padding: 0;
    margin: 1vh 0;
    ul {
      li {
        display: inline-block;
        margin: 0 1vw;
        padding: 1vh 1vw;
      }
    }
  }

  .one-column {
    width: 100%;
  }

  .thumbnail-image {
    border-radius: 4px 4px 0 0;
    object-fit: cover;
  }

  .second-column {
    width: 100%;
    height: auto;
  }

  .bottom {
    position: relative;
  }

  .tagline-text {
    margin-bottom: 1vh;
  }

  .content {
    width: 100%;
  }

}












